
body {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: "Montserrat", sans-serif;
}

.numInput {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.ant-form label {
	font-size: 18px;
}

.ant-checkbox-inner {

	width: 18px;
	height: 18px;
}
.right-number {

	float: right;
	padding: 10px;
	font-size: large;
	color: #04151f;
	font-weight: bold;

}

option:hover {
	background: #cacaca;
}

.pbar {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
}

.card .shadow-lg {

	border-radius: 25px;
}

.-xl-flex .d-sm-flex{
	min-height: 50vh;
}

.tcpa {
	font-size: small;
	font-weight: lighter;
	max-width: 100%;
}


.more {
	border-radius: 20px;
	background-color: white;
	min-height: 700px;
	position: relative;
	min-width: 300px;
	-webkit-box-shadow: 0px 47px 72px 3px rgba(128,128,128,0.11);
	-moz-box-shadow: 0px 47px 72px 3px rgba(128,128,128,0.11);
	box-shadow: 0px 47px 72px 3px rgba(128,128,128,0.11);
}

.anticon{
	vertical-align: 0px !important;
}

@media (min-width: 576px) {  
	.mywidth{
		width: 100%;
	}
}
@media (min-width: 768px) { 
	.mywidth{
		width: 100%;
	}
 }
@media (min-width: 992px) { 
	.mywidth{
		width: 75%;
	}
 }
@media (min-width: 1200px) {
	.mywidth{
		width: 60%;
	}
	.text{
		width: 100% !important;
	}
 }
 